
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1458964751'); /* IE9*/
  src: url('iconfont.eot?t=1458964751#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1458964751') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1458964751') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1458964751#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shanglajiantou:before { content: "\e63b"; }
.icon-xialajiantou:before { content: "\e63c"; }
.icon-shouji:before { content: "\e608"; }
.icon-gouwuche1:before { content: "\e64e"; }
